# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
dist/

# Compiled
*.class
*.py[cod]
*.jar

# Build
target/

# Temp
*.tmp
*.bak
~$*

# Logs
*.log

# Test reports
TEST*.xml

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
